@keyframes scale {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(0.90);
    }
    to {
      transform: scale(1);
    }
  }
  $animation-scale: scale 3s ease-in-out alternate 1;

  @keyframes fade-up {
    from {
      transform: translateY(150px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
$animation-fade-up: fade-up 1.5s ease-in-out forwards;

