@import "../sass/animation.scss";

html {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER */

.header {
    display: flex;
    height: 80px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 5px 5px rgb(242, 242, 242);
    .logo {
        display: flex;
        align-items: center;
        margin-left: 10%;
        &:hover{
            animation: $animation-scale;
        }
    }
    .primary-menu {
        display: flex;
        align-items: center;
        margin: 0 10% 0 0;
        padding: 0;
        white-space: nowrap;
    }
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 45px;
    }
    li a {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Space Mono', sans-serif;
        font-size: 16px;
        width: 100%;
        color: black;
        &:hover {
            transition: .5s ease-in-out;
            transform: scale(1.1);
            font-weight: bold;
        }
        &:visited {
            text-decoration: none;
        }
    }
    .burger {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
}

/* BODY */

.section_photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10%;
    h3 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        margin: 60px 0;
    }
}

/* FOOTER */

.menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    margin-top: 5%;
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 45px;
    }
    li a {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Space Mono', sans-serif;
        font-size: 16px;
        width: 100%;
        color: black;
        &:hover {
            font-weight: bold;
        }
        &:visited {
            text-decoration: none;
        }
    }
}
