.photos_list {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 21px;
    .photo_block {
        display: flex;
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        &:hover .image-ref {
            opacity: 1;
        }
        &:hover .image-cat {
            opacity: 1;
        }
    }
}
.photo-thumbnail {
    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}
.calque-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    &:hover {
        opacity: 1;
    }
}
#container-fullscreen {
    display: flex;
    position: absolute;
    opacity: .7;
    right: -10px;
    transform: translateX(-16px);
    top: 10px;
    cursor: pointer;
    img {
        width: 34px;
        height: 34px;
    }
    &:hover {
        opacity: 1;
    }
}
#container-eye {
    display: flex;
    position: absolute;
    opacity: .7;
    left: 50%;
    top: 50%;
    transform: translateX(-23px);
    transform: translateY(-32/2px);
    cursor: pointer;
    img {
        width: 46px;
        height: 32px;
    }
    &:hover {
        opacity: 1;
    }
}
.info-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}
.image-ref,
.image-cat {
    display: flex;
    opacity: 0;
    z-index: 1;
    color: white;
    white-space: nowrap;
    margin: 0 10px;
    &:hover {
        opacity: 1;
    }
}
.image-ref {
    justify-content: flex-start;
}
.image-cat {
    justify-content: flex-end;
}
