.selectors {
    display: flex;
    margin: 30px 0;
    width: 100%;
    .champ {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        height: 20px;
        border-radius: 8px;
        font-size: 12px;
        padding: 11px;
        cursor: pointer;
        border: 1px solid $gris-fonce;
        text-transform: uppercase;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .choix {
        position: absolute;
        width: 100%;
    }
    .option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 20px;
        font-size: 12px;
        padding: 11px;
        width: 230px;
        cursor: pointer;
        background-color: white;
        a {
            text-decoration: none;
            color: black;
        }
        &:hover {
            background-color: $rouge-tertiaire;
        }
        &:active {
            background-color: $rouge-secondaire;
        }
        &:focus {
            background-color: $rouge;
            color: white;
        }
    }

}
.select-gauche {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
}
.select-droit {
    display: flex;
    z-index: 1;
    justify-content: flex-end;
    width: 50%;
}

/* GESTION ICONES SELECTEURS */
/* Masquer les options par défaut */
.option.hidden {
    display: none;
}

/* Rotation de l'icône "chevron" */
.icon-chevron.rotate {
    transform: rotate(180deg);
}