@import "../sass/fonts.scss";
@import "../sass/animation.scss";
@import "../sass/modale.scss";

/* HEADER */

.header {
    display: flex;
    height: 80px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .logo {
        display: flex;
        align-items: center;
        margin-left: 140px;
        &:hover{
            animation: $animation-scale;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        margin-right: 140px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 45px;
    }
    li a {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Space Mono', sans-serif;
        font-size: 16px;
        width: 100%;
        color: black;
        &:hover {
            color: #E00000;
            animation: $animation-fade;
        }
        &:visited {
            text-decoration: none;
        }
    }
}



/* FOOTER */

.menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 45px;
    }
    li a {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Space Mono', sans-serif;
        font-size: 16px;
        width: 100%;
        color: black;
        &:hover {
            color: #E00000;
            animation: $animation-fade;
        }
        &:visited {
            text-decoration: none;
        }
    }
}