@charset "UTF-8";
@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
body {
  font-family: "Space Mono", sans-serif;
}

.modal-form,
.selectors .option {
  font-family: "Poppins", sans-serif;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-up {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  border: 5px solid black;
  width: 597px;
  height: 769px;
  animation: fade-up 1.5s ease-in-out forwards;
}

.modal-header {
  background-image: url(./img/contact-header.png);
  height: 110px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.modal-form {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 12px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.modal-form input {
  border-radius: 10px;
  border: 1px solid #B8BBC2;
  height: 25px;
  padding: 5px;
}
.modal-form textarea {
  border-radius: 10px;
  width: 321px;
  height: 180px;
}

.refPhoto {
  text-transform: uppercase;
}

.wpcf7-submit {
  border-radius: 0px !important;
  background-color: #D8D8D8;
  border: 1px solid #D8D8D8 !important;
  font-family: "Space Mono", sans-serif;
  height: 50px !important;
  width: 100%;
  cursor: pointer;
}

.wpcf7-spinner {
  position: absolute;
}

/* The Close Button */
.close {
  display: none;
}

.single_photo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin: 1% 10% 0 10%;
}

.entry-header-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  padding: 0 20px 0 0;
}
.entry-header-photo ul {
  list-style-type: none;
  padding: 0 0 20px 0;
  border-bottom: 1px solid black;
  margin: 0;
}
.entry-header-photo li {
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  line-height: 30px;
}
.entry-header-photo li a {
  color: black;
  text-decoration: none;
}
.entry-header-photo a:hover {
  color: #E00000;
}

.entry-title-photo {
  font-family: "Space Mono", sans-serif;
  font-size: 66px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 60px;
  margin: 10px 0 10px 0;
}

.entry-contact-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  padding: 0 20px 0 0;
}
.entry-contact-photo p {
  font-size: 12px;
  font-weight: 100;
  width: 50%;
}
.entry-contact-photo input {
  display: flex;
  justify-content: center;
  font-family: "Space Mono", sans-serif;
  border: none;
  width: 40%;
  height: 50px;
  cursor: pointer;
  background-color: #D8D8D8;
  border-radius: 5px;
}
.entry-contact-photo input:hover {
  color: white;
  background-color: black;
  transition: 1s ease-in-out;
}

.contact_nav {
  display: flex;
  justify-content: space-between;
  height: 118px;
  margin: 0 10%;
  border-bottom: 1px solid black;
}

.entry-content-photo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  margin: 0;
}
.entry-content-photo figure {
  margin: 0;
}
.entry-content-photo img {
  width: 100%;
  object-fit: contain;
}

.site__navigation {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.site__navigation .post-thumbnail {
  display: flex;
  width: 80px;
  height: 70px;
}
.site__navigation .post-thumbnail .thumbnail-link .hover-image {
  opacity: 0; /* Masque l'image par défaut */
}
.site__navigation .post-thumbnail .thumbnail-link:hover .hover-image {
  opacity: 1; /* Affiche l'image au survol du lien */
}
.site__navigation .post-thumbnail .hover-image {
  width: 100%;
}
.site__navigation .post-thumbnail .hover-image img {
  width: 80px;
  height: 70px;
  object-fit: cover;
}
.site__navigation .post-thumbnail .thumbnail-link .arrow {
  padding: 0 30px;
}

.hero-header-random {
  position: relative;
}
.hero-header-random figure {
  height: 962px;
  margin: 0;
  overflow: hidden;
}
.hero-header-random figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titre-header {
  background-image: url("img/titreHeader.png");
  width: 1000px;
  height: 142px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#load-more-button,
#all-photos-button {
  display: flex;
  justify-content: center;
  font-family: "Space Mono", sans-serif;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 272px;
  height: 50px;
  cursor: pointer;
  background-color: #D8D8D8;
  border-radius: 5px;
  margin-top: 20px;
}
#load-more-button:hover,
#all-photos-button:hover {
  color: white;
  background-color: black;
  transition: 1s ease-in-out;
}

.selectors {
  display: flex;
  margin: 30px 0;
  width: 100%;
}
.selectors .champ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 230px;
  height: 20px;
  border-radius: 8px;
  font-size: 12px;
  padding: 11px;
  cursor: pointer;
  border: 1px solid #C4C4C4;
}
.selectors .champ img {
  width: 20px;
  height: 20px;
}
.selectors .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 20px;
  border-radius: 8px;
  font-size: 12px;
  padding: 11px;
  cursor: pointer;
  background-color: white;
}
.selectors .options a {
  text-decoration: none;
  color: black;
}
.selectors .options:hover {
  background-color: #FFD6D6;
}
.selectors .options:active {
  background-color: #FE5858;
}
.selectors .options:visited {
  background-color: #E00000;
  color: white;
}
.selectors .hidden {
  display: none;
}

.select-gauche {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
}

.select-droit {
  display: flex;
  z-index: 1;
  justify-content: flex-end;
  width: 50%;
}

/* GESTION ICONES SELECTEURS */
/* Masquer les options par défaut */
.options.hidden {
  display: none;
}

/* Rotation de l'icône "chevron" */
.icon-chevron.rotate {
  transform: rotate(180deg);
}

.photos_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.photos_list .photo_block {
  display: flex;
  width: 49%;
  height: 495px;
  position: relative;
  display: inline-block;
}

.photo-thumbnail img {
  max-width: 100%;
  height: 495px;
  object-fit: cover;
}

.calque-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.calque-photo:hover {
  opacity: 1;
}

#container-fullscreen {
  display: flex;
  position: absolute;
  opacity: 0.7;
  right: -10px;
  transform: translateX(-16px);
  top: 10px;
  cursor: pointer;
}
#container-fullscreen img {
  width: 34px;
  height: 34px;
}
#container-fullscreen:hover {
  opacity: 1;
}

#container-eye {
  display: flex;
  position: absolute;
  opacity: 0.7;
  left: 50%;
  top: 50%;
  transform: translateX(-23px);
  transform: translateY(-32/2px);
  cursor: pointer;
}
#container-eye:hover {
  opacity: 1;
}

.lightbox {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.lightbox__close {
  background-image: url("./img/close.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: fixed;
  top: 20px;
  right: 31px;
  cursor: pointer;
  z-index: 20;
}
.lightbox__close:hover {
  transform: rotate(180deg);
  transition: 0.5s;
}

.lightbox__next {
  background-image: url("./img/nav_next.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 93px;
  position: fixed;
  top: 50vh;
  right: 45px;
  cursor: pointer;
  z-index: 10;
}
.lightbox__next:hover {
  transform: scale(0.8);
  transition: 1s ease-in-out;
}

.lightbox__prev {
  background-image: url("./img/nav_prev.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 108px;
  position: fixed;
  top: 50vh;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}
.lightbox__prev:hover {
  transform: scale(0.8);
  transition: 1s ease-in-out;
}

.lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
}
.lightbox__container img {
  max-width: 100%;
  height: auto;
}

.lightbox__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 20px 0 40px 0;
}

.lightbox__reference,
.lightbox__categorie {
  display: flex;
  color: white;
}

html {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */
.header {
  display: flex;
  height: 80px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 5px 5px rgb(242, 242, 242);
}
.navbar .logo {
  display: flex;
  align-items: center;
  margin-left: 10%;
}
.navbar .logo:hover {
  animation: scale 3s ease-in-out alternate 1;
}
.navbar .menu {
  display: flex;
  align-items: center;
  margin: 0 10% 0 0;
  padding: 0;
  white-space: nowrap;
  gap: 45px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.navbar li a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  width: 100%;
  color: black;
}
.navbar li a:hover {
  font-weight: bold;
}
.navbar li a:visited {
  text-decoration: none;
}

/* BODY */
.section_photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10%;
}
.section_photos h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px 0;
}

/* FOOTER */
.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  margin-top: 5%;
}
.menu-footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 45px;
}
.menu-footer li a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  width: 100%;
  color: black;
}
.menu-footer li a:hover {
  font-weight: bold;
}
.menu-footer li a:visited {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
