@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
body {
  font-family: "Space Mono", sans-serif;
}

.modal-form {
  font-family: "Poppins", sans-serif;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-up {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  border: 5px solid black;
  width: 40%;
  height: 84%;
  animation: fade-up 1.5s ease-in-out forwards;
}

.modal-header {
  background-image: url(./img/contact-header.png);
  height: 110px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.modal-form {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 12px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.modal-form input {
  border-radius: 10px;
  border: 1px solid #B8BBC2;
  height: 25px;
  padding: 5px;
}
.modal-form textarea {
  border-radius: 10px;
  border: 1px solid #B8BBC2;
  height: 180px;
}

.wpcf7-submit {
  border-radius: 0px !important;
  background-color: #D8D8D8;
  border: 1px solid #D8D8D8 !important;
  font-family: "Space Mono", sans-serif;
  height: 50px !important;
  width: 100%;
  cursor: pointer;
}

.wpcf7-spinner {
  position: absolute;
}

/* The Close Button */
.close {
  display: none;
}

/* HEADER */
.header {
  display: flex;
  height: 80px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.navbar .logo {
  display: flex;
  align-items: center;
  margin-left: 140px;
}
.navbar .logo:hover {
  animation: scale 3s ease-in-out alternate 1;
}
.navbar .menu {
  display: flex;
  align-items: center;
  margin-right: 140px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 45px;
}
.navbar li a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  width: 100%;
  color: black;
}
.navbar li a:hover {
  color: #E00000;
  animation: fade 1s ease-in-out forwards;
}
.navbar li a:visited {
  text-decoration: none;
}

/* FOOTER */
.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
.menu-footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 45px;
}
.menu-footer li a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  width: 100%;
  color: black;
}
.menu-footer li a:hover {
  color: #E00000;
  animation: fade 1s ease-in-out forwards;
}
.menu-footer li a:visited {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
